div{
max-width: 700px;
border: 2px solid black;
}
#a{
    
}
.nav{
    float: left;
    width: 21%;
    height: 300px; 
    padding: 20px; 
    line-height: 20px;
}
.article{
    float: left;
    width: 50%;
    height: 300px; 
    padding: 20px;
    line-height: 20px;}
.aside{
    float: left;
    width: 10%;
    height: 300px; 
    padding: 20px;
    line-height: 20px;
}
.footer{
    float: left;
    width: 100%;
      line-height:20px ;
}